

body {
  font-family: 'Raleway', sans-serif;
  background-color: #CDB79A;
}

.content {
  opacity: 0.9;
  margin-bottom: 2rem;

}


.name {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1em;

  background-color: #FFFFFF;
    width: 300px;
    height:70px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.name:hover {
    width: 800px;
    background-color: #CDB79A;
}

.card {
  position: inherit;
  margin-bottom: 2rem;
}

.row {
  padding: 10px;
}

.portfolioImg {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
    float: none;
}

h4{
  color: #8A9536;
}

ul {
  list-style: none;
  text-align: center;
  display: block;
}

/*contact me*/
.footer3 {
  position: static;
  bottom: 0;
  top: auto;
  left: auto;
  right: auto;

  text-decoration-color: #FFFFFF;
  padding: 20px;
  background-color: #8A9536;
}

/*portfolio*/
.footer2 {
  position: relative;
  bottom: 0;

  text-decoration-color: #FFFFFF;
  padding: 20px;
  background-color: #8A9536;
}

/*Home + contact me*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    padding: 20px;
    background-color: #8A9536;
    color: white;
    text-align: center;
}
