

body {
  font-family: 'Raleway', sans-serif;
  background-color: #5498a9;
}

.navbar {
  background-image: url("https://source.unsplash.com/user/marthaberg/1800x1200");
  background-size: cover;
}

.navbar-text {
  background-color: #5498a9;
  border-radius: 9%;
}

.picture {
  border-radius: 50%;
}

.name {
  padding: 5px;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;

  text-shadow: 1px 0.5px 20px #FFEEFF;
  width: 200px;
  height:70px;
  border-radius: 9%;


  -webkit-transition: width 3s;
    transition: width 2s;
}

.name:hover {
  width: 74%;
  background-color: #5498a9;
}


a {
  color: #000000;
}

    /* mouse over link */
    a:hover {
        color: #FFFFFF;
    }
    /* selected link */
    a:active {
        color: blue;
}


.card {
  margin-bottom: 20%;
  padding: 12px;
}

.socialMedia {
  position: fixed;
  margin-bottom: 2rem;
  shado
}

.row {
  padding: 10px;
}

.portfolioImg {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
    float: none;
}

h4 {
  color: #665f62;
}

ul {
  text-align: center;
  display: block;

  margin-right: 20px;
  color: black;
  text-shadow: 1px 1px 1px #FFFFFF;
}


/*portfolio*/
.footer2 {
  position: relative;
  bottom: 0;
  font-size: 1rem;

  text-decoration-color: #000000;
  text-shadow: 1px 1px 10px #FFFFFF;
  text-align: center;

  padding: 20px;
  background-image: url("https://source.unsplash.com/user/marthaberg/1800x1200");

}
